.wrapper {
    padding-bottom: 20px;
}

.heading {
    position: relative;
    padding: 25px 0;
    font-size: 30px;
    color: var(--black);
    text-align: center;
    background-color: aqua;
}

.heading span {
    display: inline-block;
    color: #fff;
    padding: 5px 30px;
    background-color: var(--orange);
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 7% 50%, 0% 0%);
} 

.search-form {
    position: absolute;
    z-index: 1000;
    top: 130px;
    right: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.search-form input {
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding-left: 15px;
    background-color: #fff;
    border: none;
    outline: none;
}

.search-form label {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    padding: 0 10px;
    color: var(--black);
    background-color: #fff;
    cursor: pointer;
}

.search-form label:hover {
    color: var(--orange)
}

.products {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.product-box {
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 10px 5px;
    margin: 5px 5px;
    outline-offset: -10px;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: 0.2s linear;
}

.product-box:hover {
    outline-offset: 0px;
    outline: var(--outline-hover);
}

.product-box img {
    height: 150px;
    width: 200px;
    margin: 5px;
    border-radius: 5px;
}

.product-box h3 {
    font-size: 25px;
    color: var(--black);
}

.price {
    font-size: 20px;
    color: var(--primary);
    padding: 10px 0;
}

.description {
    font-size: 20px;
    color: var(--light-color);
    height: 60px;
    width: 90%;
    margin: 0 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cart-btn {
    position: absolute;
    right: 40px;
    bottom: 10px;
    font-size: 20px;
    background-color: black;
    color: #fff;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid var(--black);
    text-align: center;
    cursor: pointer;
}

.cart-btn:hover {
    color: #fff;
    background-color: var(--orange);
}

.no-product {
    width: 100%;
    text-align: center;
    margin: 50px;
}