.wrapper {
    height: auto;
    padding-bottom: 50px;
}

.heading {
    position: relative;
    padding: 25px 0;
    font-size: 30px;
    color: var(--black);
    text-align: center;
}

.heading span {
    display: inline-block;
    color: #fff;
    padding: 5px 30px;
    background-color: var(--orange);
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 7% 50%, 0% 0%);
} 

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.continue-btn {
    font-size: 2rem;
    font-weight: 600;
    padding: 15px;
    margin-bottom: 15px;
    background-color: var(--orange);
    border-radius: 5px;
    border: none;
    outline: none;
}

.continue-btn a {
    color: var(--white);
}

.product-count {
    position: absolute;
    right: 160px;
}

.product-count span{
    color: var(--primary);
}

.cart-table {
    width: 100%;
}

.cart-table, th, td {
    border: 1px solid var(--black);
    text-align: center;
}

.img {
    width: 150px;
    height: 100px;
    border-radius: 5px;
    margin-top: 8px;
}

.quantity {
    text-align: center;
    width: 70px;
    font-size: 15px;
    font-weight: bolder;
    padding: 2px 0px 2px 12px;
}

tr:first-child {
    height: 40px;
    background-color: #02aab0;
}

tr th:first-child {
    width: 15%;
}

tr th:nth-child(2) {
    width: 15%;
}

tr th:nth-child(4) {
    width: 10%;
}

tr th:nth-child(5) {
    width: 15%;
}

tr th:nth-child(6) {
    width: 10%;
}

.remove-btn {
    color: var(--white);
    background: var(--primary);
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.total-checkout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 2rem;
    font-weight: 600;
}

.total-price {
    margin-bottom: 15px;
}

.total-price span {
    color: var(--primary);
}

.checkout-btn {
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--orange);
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.no-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 50px;
}

.add-product {
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--orange);
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.add-product a {
    color: var(--white);
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
}
  
.pagination li {
    margin: 15px 5px;
}
  
.pagination button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 16px;
    color: #007bff;
    background-color: #fff;
    border-radius: 50%;
    border: none;
}
  
.pagination button:hover {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
  
.pagination button.active {
    background-color: #007bff;
    color: #fff;
}