.wrapper {
    height: auto;
}

.heading {
    font-size: 4rem;
    margin: 25px;
    color: var(--black);
    text-align: center;
}

.cart-table {
    width: 100%;
}

.cart-table, th, td {
    border: 0.5px solid var(--black);
    text-align: center;
}

.img {
    width: 150px;
    height: 100px;
    border-radius: 5px;
    margin: 15px;
}

.quantity {
    text-align: center;
    width: 35px;
    font-size: 13px;
}

tr:first-child {
    height: 40px;
    background-color: #02aab0;
}

tr th:first-child {
    width: 15%;
}

tr th:nth-child(2) {
    width: 15%;
}

tr th:nth-child(4) {
    width: 10%;
}

tr th:nth-child(5) {
    width: 15%;
}

tr th:nth-child(6) {
    width: 10%;
}

.remove-btn {
    color: var(--white);
    background: var(--primary);
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.total-checkout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 600;
}

.total-price {
    margin-bottom: 15px;
}

.total-price span {
    color: var(--primary);
}

.checkout-btn {
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--orange);
    padding: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.no-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.add-product {
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--orange);
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.add-product a {
    color: var(--white);
}