.wrapper {
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 5px 10px rgba(0,0,0,.1);
    --border: 2px solid rgba(0,0,0,.1);
    --outline: 1px solid rgba(0,0,0,.1);
    --outline-hover: 2px solid var(--black);

    margin-top: 88px;
}

.home {
    padding: 20px 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://image.shutterstock.com/image-photo/image-260nw-391490764.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 170px;
    padding-bottom: 100px;
    margin-bottom: 15px;
}

.content {
    text-align: center;
    width: 600px;
}

.content h3 {
    color: var(--black);
    font-size: 30px;
}

.content h3 span {
    color: var(--orange);
}

.content p {
    color: var(--light-color);
    font-size: 17px;
    padding: 10px 0;
    line-height: 1.8;
}

.shop-btn {
    display: inline-block;
    font-size: 20px;
    padding: 8px 30px;
    margin: 25px;
    border-radius: 5px;
    border: 2px solid var(--black);
    color: var(--black);
    text-align: center;
    cursor: pointer;
}

.shop-btn:hover {
    color: #fff;
    background-color: var(--orange);
}

.heading {
    text-align: center;
    padding: 20px 0;
    padding-bottom: 30px;
    font-size: 35px;
    color: var(--black);
}

.heading span {
    background-color: var(--orange);
    color: #fff;
    display: inline-block;
    padding: 5px 30px;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 7% 50%, 0% 0%);
} 

.product-slider {
    padding: 10px 60px;
}

.product-slider:first-child {
    margin-bottom: 10px;
}

.box {
    position: relative;
    width: auto;
    height: 500px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 10px 5px;
    outline-offset: -10px;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: 0.2s linear;
}

.box:hover {
    outline-offset: 0px;
    outline: var(--outline-hover);
}

.box img {
    height: 200px;
    width: 250px;
    border-radius: 5px;
    margin: 5px;
}

.box h3 {
    font-size: 25px;
    color: var(--black);
}

.price {
    font-size: 20px;
    color: var(--primary);
    padding: 10px 0;
}

.products .product-slider .box .description {
    font-size: 20px;
    color: var(--light-color);
    height: 90px;
    width: 90%;
    margin: 0 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cart-btn {
    position: absolute;
    right: 20px;
    bottom: 15px;
    font-size: 20px;
    background-color: black;
    color: #fff;
    padding: 8px 30px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid var(--black);
    text-align: center;
    cursor: pointer;
}

.cart-btn:hover {
    color: #fff;
    background-color: var(--orange);
}