// .wrapper {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .container {
//     margin-top: 150px;
//     width: var(--default-layout-width);
//     display: flex;
// }

// .content {
//     flex: 1;
// }