.wrapper {
	height: calc(100vh - 70px);
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0px 30px 30px 30px;
}

.wrapper::-webkit-scrollbar-thumb {
	background-image: linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
}

.wrapper::-webkit-scrollbar {
	width: 5px;
}

.wrapper::-webkit-scrollbar-track {
	background-color: #9e9e9eb2;
}

.report-container {
	min-height: 300px;
	max-width: 1200px;
	margin: 30px auto 0px auto;
	background-color: #ffffff;
	border-radius: 30px;
	box-shadow: 3px 3px 10px rgb(188, 188, 188);
	padding: 0px 0px 20px 20px;
}

.report-name {
	font-size: 30px;
	font-weight: 600;
	color: #5500cb;
	text-align: center;
	padding-top: 20px;
}

.report-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	width: 100%;
	padding-right: 45px;
	border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.search {
	display: flex;
	align-items: center;
	justify-content: center;
}

.search input {
	width: 250px;
	height: 42px;
	border-radius: 50px 0 0 50px;
	background-color: var(--background-color3);
	padding: 0 10px 0 20px;
	font-size: 15px;
	outline: none;
	border: none;
}

.search-btn {
	width: 50px;
	height: 42px;
	color: #fff;
	font-size: 20px;
	border-radius: 0px 50px 50px 0px;
	background-color: var(--secondary-color);
	cursor: pointer;
}

.report-body {
	max-width: 1160px;
	overflow-x: auto;
	padding: 20px 0px;
}

.report-topic {
	width: 1160px;
	display: flex;
	align-items: center;
	text-align: center;
}

.report-topic h3:first-child {
	width: 15%;
}

.report-topic h3:nth-child(2) {
	width: 25%;
}

.report-topic h3:nth-child(3) {
	width: 20%;
}

.report-topic h3:nth-child(4) {
	width: 50%;
}


.items {
	width: 1160px;
	margin-top: 30px;
}

.item {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.item h3 {
	font-size: 14px;
	letter-spacing: 0px;
	font-weight: 600;
}

.item h3:first-child {
	width: 15%;
}

.item h3:nth-child(2) {
	width: 25%;
}

.item h3:nth-child(3) {
	width: 20%;
}

.item h3:nth-child(4) {
	width: 50%;
}

.no-user {
	text-align: center;
	margin-top: 60px;
}