.wrapper {
	height: calc(100vh - 70px);
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0px 30px 30px 30px;
}

.wrapper::-webkit-scrollbar-thumb {
	background-image: linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
}

.wrapper::-webkit-scrollbar {
	width: 5px;
}

.wrapper::-webkit-scrollbar-track {
	background-color: #9e9e9eb2;
}

.report-container {
	min-height: 300px;
	max-width: 1200px;
	margin: 30px auto 0px auto;
	background-color: #ffffff;
	border-radius: 30px;
	box-shadow: 3px 3px 10px rgb(188, 188, 188);
	padding: 0px 0px 20px 20px;
}

.report-name {
	font-size: 30px;
	font-weight: 600;
	color: #5500cb;
	text-align: center;
	padding-top: 20px;
}

.report-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	width: 100%;
	padding-right: 45px;
	border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.search {
	display: flex;
	align-items: center;
	justify-content: center;
}

.search input {
	width: 250px;
	height: 42px;
	border-radius: 50px 0 0 50px;
	background-color: var(--background-color3);
	padding: 0 10px 0 20px;
	font-size: 15px;
	outline: none;
	border: none;
}

.search-btn {
	width: 50px;
	height: 42px;
	font-size: 20px;
	color: #fff;
	border-radius: 0px 50px 50px 0px;
	background-color: var(--secondary-color);
	cursor: pointer;
}

.report-body {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 50px;
	max-width: 1160px;
	padding: 20px 0px;
}

.items {
	width: 350px;
	height: auto;
	border: 2px solid black;
	border-radius: 5px;
}

.item {
	padding: 10px;
	font-size: 12px;
	font-weight: 600;
}

.item-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-container {
	width: 300px;
	height: auto;
	margin: 0 auto;
	margin: 15px;
	padding: 10px;
	border: 1px solid #333;
	border-radius: 5px;
}

.list-cart {
	display: flex;
	align-items: center;
	font-size: 13px;
	letter-spacing: 0px;
	padding-bottom: 5px;
}

.list-cart img {
	width: 90px;
	height: 70px;
	border-radius: 10px;
}

.list-cart p {
	margin-left: 15px;
}

.actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 8px 10px 12px;
}

.actions h3 {
	color: var(--primary);
}

.delete-btn,
.check-btn {
	color: #fff;
	padding: 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.delete-btn {
	background-color: red;
	margin-right: 5px;
}

.check-btn {
	background-color: green;
	margin-right: 5px;
}

.no-user {
	text-align: center;
	margin-top: 60px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
}
  
.pagination li {
    margin: 15px 5px;
}
  
.pagination button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 16px;
    color: #007bff;
    background-color: #fff;
    border-radius: 50%;
    border: none;
}
  
.pagination button:hover {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
  
.pagination button.active {
    background-color: #007bff;
    color: #fff;
}