.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
}

.inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 30px 0 50px 0;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
}

.content h2 {
     position: relative;
     color: black;
     font-weight: 600;
     margin-bottom: 15px;
 }
 
.content h2::before{
     content: '';
     position: absolute;
     bottom: -5px;
     left: 0;
     width: 100px;
     height: 2px;
     background: #ff7800;
 }

.links {
    position: relative;
    width: 15%;
 }

 .links ul li a{
    color: #999;
    display: inline-block;
 }

.links ul li a:hover {
    color: #ff7800;
}

.social-icon {
    margin-top: 20px;
    display: flex;
}

.social-icon li a {
    width: 40px;
    height: 40px;
    background: var(--background-color4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 4px;
}

.social-icon li a:hover {
    background: orange;
}

.contact{
    width: 25%;
}

.contact .info li span{
    color: #999;
    margin-left: 10px;
}

.contact .info li a{
    color: #999;
}

@media  (max-width: 768px){
    .wrapper {
        padding: 40px;
        
    }
    .wrapper {
        flex-direction: column;
    }
    .wrapper  .content {
        margin-right: 0;
        margin-bottom: 40px;
    }
    .wrapper , .content .about, .links, .contact{
        width: 100%;
    }
}
