.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('../../assets/images/background.jpg') no-repeat;
    background-position: left;
    background-size: cover;
}

.form-register {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    color: #fff;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
}

.form-register h2 {
    font-size: 32px;
    text-align: center;
}

.form-group {
    position: relative;
    width: 320px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.form-group input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 35px 0 5px;
    color: #87CEFA;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

.form-group .icon-btn {
    position: absolute;
    right: 5px;
    font-size: 20px;
    top: 20px;
}

.register-btn {
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.register-btn {
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.login-btn {
    font-size: 16px;
    text-align: center;
    margin: 25px 0 10px;
}

.login-btn p a {
    color: #fff;
    font-weight: 600;
}

.login-btn p a:hover {
    color: #00BFFF;
    text-decoration: underline;
}
