.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('../../../../assets/images/background.jpg') no-repeat;
    background-position: left;
    background-size: cover;
}

.form-create-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 600px;
    color: #fff;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
}

.form-create-user h2 {
    font-size: 2em;
    text-align: center;
}

.form-group {
    position: relative;
    margin: 30px 0;
    width: 350px;
    border-bottom: 2px solid #fff;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

.form-group input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding:0 35px 0 5px;
    color: #87CEFA;
    background: transparent;
    border: none;
    outline: none;
}

.form-group .icon-btn {
    position: absolute;
    right: 8px;
    font-size: 20px;
    top: 20px;
}

.select-option {
    width: 100%;
    height: 30px;
    font-size: 16px;
}

.create-btn,
.cancel-btn {
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}