.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: var(--box-shadow);
    background-color: var(--white);
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo {
    font-size: 25px;
    color: var(--black);
    font-weight: bolder;
}

.icon-logo {
    color: var(--orange)
}

.navbar a {
    font-size: 2rem;
    margin: 0 10px;
    color: var(--black);
}

.navbar a:hover {
    color: var(--orange);
}

.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    position: relative;
    height: 45px;
    width: 45px;
    line-height: 45px;
    border-radius: 5px;
    color: var(--black);
    background: none;
    font-size: 20px;
    margin-left: 3px;
    text-align: center;
    cursor: pointer;
}

.action-btn:hover {
    color: var(--white);
    background-color: var(--orange);
}

.badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary);
}

.search-form {
    position: absolute;
    top: 110%;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.search-form input {
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding-left: 15px;
    background-color: #fff;
    border: none;
    outline: none;
}

.search-form label {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    padding: 0 10px;
    color: var(--black);
    background-color: #fff;
    cursor: pointer;
}

.search-form label:hover {
    color: var(--orange)
}

.account {
    position: absolute;
    top: 110%;
    right: 60px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: #fff;
}

.account-btn {
    display: flex;
    margin-top: 10px;
    display: block;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid var(--black);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.account-btn:hover {
    color: #fff;
    background-color: var(--orange);
}

.account-btn a {
    color: black;
}

.icon-singin, 
.icon-register,
.icon-singout {
    margin-right: 10px;
}

.icon-register {
    margin-left: -20px;
}