.wrapper {
	height: calc(100vh - 70px);
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0px 30px 30px 30px;
}

.wrapper::-webkit-scrollbar-thumb {
	background-image: linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
}

.wrapper::-webkit-scrollbar {
	width: 5px;
}

.wrapper::-webkit-scrollbar-track {
	background-color: #9e9e9eb2;
}

.report-container {
	min-height: 300px;
	max-width: 1200px;
	margin: 30px auto 0px auto;
	background-color: #ffffff;
	border-radius: 30px;
	box-shadow: 3px 3px 10px rgb(188, 188, 188);
	padding: 0px 0px 20px 20px;
}

.report-header {
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 20px 10px 20px;
	border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.report-name {
	font-size: 30px;
	font-weight: 600;
	color: #5500cb;
}

.create-btn {
	height: 35px;
	width: 90px;
	border-radius: 8px;
	background-color: #5500cb;
	font-size: 15px;
	border: none;
	cursor: pointer;
}

.create-btn > a {
	color: white;
	padding: 20px;
}

.report-body {
	max-width: 1160px;
	overflow-x: auto;
	padding: 20px 0px;
}

.report-topic {
	width: 1120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.th-report {
	text-align: center;
	flex: 1;
}

.th-report-description,
.th-report-createdAt {
	flex: 2;
}

.items {
	width: 1120px;
	margin-top: 15px;
}

.item1 {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item-content {
	font-size: 14px;
	letter-spacing: 0px;
	font-weight: 600;
	text-align: center;
	flex: 1;
}

.tem-content-description,
.item-content-createdAt {
	flex: 2;
}

.img-product {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.handle,
.handle > a {
	border: none;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
	color: white;
}

.edit-btn {
	background-color: green;
	margin-right: 5px;
}

.delete-btn {
	background-color: red;
}